.action_column,
.action_column_td {
    text-align: right !important;
}

@media (max-width: 991px) {
    .mobiledate {
        color: #fff;
        background: #000000;
        padding: 10px 0px;
    }

    .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
        width: 225px;
    }

    .sb-nav-fixed #layoutSidenav #layoutSidenav_content {
        padding-left: 220px;
    }

    #dashboard_info .info {
        padding: 20px 10px;
        margin-bottom: 20px;
    }

    .verselisttable {
        display: none;
    }

    .verselistparagraph {
        display: block;
    }

    #dataTable_processing input[type="color"] {
        width: 50px;
        height: 30px"

    }
}

@media (min-width: 992px) {
    .verselisttable {
        display: block;
    }

    .verselistparagraph {
        display: none;
    }
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    padding: 5px 5px !important;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-image: url("../../backend/images/login.gif");
    background-size: cover;
    background-position: center;
    /* center the image */
}

.bgoverlay {
    background: #000000d6;
}