.headeremtyspace {
    padding-top: 60px;
}

#homepage {
    width: 100%;
    min-height: 100vh;
}

.livenza_footer {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.divider {
    height: 17px;
    border-right: 2px solid #fff;
}

.livenza_footer li {
    position: relative;
    display: inline-block;
}

.livenza_footer li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.header-floating {
    background: #fff;
    padding: 0px 0px;

    border-bottom: 1px solid #efefef;
}

.header-1.header-floating:hover,
.header-1.header-sticky.scrolled-past-header {
    background: #fff;
    border-bottom: 1px solid #efefef;
}

.livenza_footer li:last-child::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
}

.footer-bottom {
    padding: 10px 0;
}

@media (max-width: 1600px) {
    .menu-link-main {
        padding: 25px 20px;
    }
}

@media (min-width: 992px) {
    .leftside_navbs {
        justify-content: left;
    }

    .rightside_navbs {
        justify-content: right;
    }
}

.menu-link {
    color: var(--color-shadow);
}



.logo_link {
    padding: 0;
}

.logo_li {
    list-style-type: none;
}

.logo_link img {
    width: 110px;
    margin: 0 auto;
}

.menu-link {
    font-size: 14px;
    /* font-weight: 400; */
    text-transform: uppercase;
}

.nav-item:focus>.menu-link,
.nav-item:hover>.menu-link {
    color: var(--theme-bg-blue);
}

.social-link {
    text-decoration: none;
    width: var(--size-social, 23px);
    height: var(--size-social, 23px);
    font-size: 12px;
    transition: 600ms;
    border-radius: 2px;
    border: 1px solid var(--theme-bg-blue);
    color: var(--theme-bg-blue);
}

.social-link:hover {
    color: #fff;
    background: #0033CC;
    transition: 600ms;
}

.shop_now {
    border: 1px solid var(--theme-bg-blue);
    color: var(--theme-bg-blue);
    font-size: 12px;
    margin-right: 15px;
    font-weight: 800;
    padding: 3px 15px;
    transition: 600ms;
}

.shop_now_item:hover .shop_now {
    color: #fff;
    font-weight: 800;
    /* background: #0033CC; */
    background: var(--theme-bg-blue);
    transition: 600ms;
    color: #fff;
}

.card-project {
    /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25); */
}

.livenza_footer_legal .link:hover {
    color: var(--theme-bg-green);
}

.footer-menu .link:focus,
.footer-menu .link:hover {
    opacity: 1;
}

/* .bd-hotels .large-image-slider:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    background-image: url(/assets/images/site/triangle2.svg);
} */