.headeremtyspace {
    padding-top: 85px;
}

#homepage {
    width: 100%;
}

.livenza_footer {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.divider {
    height: 17px;
    border-right: 2px solid #fff;
}

.livenza_footer li {
    position: relative;
    display: inline-block;
}

.livenza_footer li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.header-floating {
    background: var(--color-background);
    padding: 8px 0px;
}

.header-1.header-floating:hover,
.header-1.header-sticky.scrolled-past-header {
    background: var(--color-background);
    border-bottom: var(--style-border-width) solid rgba(255, 255, 255, 0);
}

.livenza_footer li:last-child::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
}

.footer-bottom {
    padding: 10px 0;
}

@media (max-width: 1600px) {
    .menu-link-main {
        padding: 10px 15px;
    }
}

@media (min-width: 992px) {
    .leftside_navbs {
        justify-content: left;
    }

    .rightside_navbs {
        justify-content: right;
    }
}

.menu-link {
    color: var(--color-shadow);
}



.logo_link {
    padding: 0;
}

.logo_li {
    list-style-type: none;
}

.logo_link img {
    width: 120px;
}

.menu-link {
    font-weight: 400;
}

.nav-item:focus>.menu-link,
.nav-item:hover>.menu-link {
    color: var(--theme-bg-green);
}

.social-link {
    text-decoration: none;
    width: var(--size-social, 23px);
    height: var(--size-social, 23px);
    font-size: 12px;
    background: var(--theme-bg-green);
    ;
    border-radius: 2px;
}

.shop_now {
    background: var(--theme-bg-green);
    color: #fff;
    font-size: 12px;
    margin-right: 15px;
    font-weight: 800;
}

.shop_now_item:hover .shop_now {
    color: #fff;
    font-weight: 800;
    background: var(--theme-bg-blue);
}

.card-project {
    /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25); */
}

.social-link:hover {
    background: var(--theme-bg-blue);
}