.headeremtyspace {
    padding-top: 70px;
}

#homepage {
    width: 100%;
    min-height: 100vh;
}

.livenza_footer {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.divider {
    height: 17px;
    border-right: 2px solid #fff;
}

.livenza_footer li {
    position: relative;
    display: inline-block;
}

.livenza_footer li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.header-floating {
    background: #fff;
    padding: 0px 0px;

    border-bottom: 1px solid #efefef;
}

.header-1.header-floating:hover,
.header-1.header-sticky.scrolled-past-header {
    background: #fff;
    border-bottom: 1px solid #efefef;
}

.livenza_footer li:last-child::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
}

.footer-bottom {
    padding: 10px 0;
}

@media (max-width: 1600px) {
    .menu-link-main {
        padding: 25px 20px;
    }
}

@media (min-width: 992px) {
    .leftside_navbs {
        justify-content: left;
    }

    .rightside_navbs {
        justify-content: right;
    }
}

.menu-link {
    color: var(--color-shadow);
}



.logo_link {
    padding: 0;
}

.logo_li {
    list-style-type: none;
}

.logo_link img {
    width: 110px;
    margin: 0 auto;
}

.menu-link {
    font-size: 14px;
    /* font-weight: 400; */
    text-transform: uppercase;
}

.nav-item:focus>.menu-link,
.nav-item:hover>.menu-link {
    color: var(--theme-bg-blue);
}

.social-link {
    text-decoration: none;
    width: var(--size-social, 23px);
    height: var(--size-social, 23px);
    font-size: 12px;
    transition: 600ms;
    border-radius: 2px;
    border: 1px solid var(--theme-bg-blue);
    color: var(--theme-bg-blue);
}

.social-link:hover {
    color: #fff;
    background: #0033CC;
    transition: 600ms;
}

.shop_now {
    border: 1px solid var(--theme-bg-blue);
    color: var(--theme-bg-blue);
    font-size: 12px;
    margin-right: 15px;
    font-weight: 800;
    padding: 3px 15px;
    transition: 600ms;
}

.shop_now_item:hover .shop_now {
    color: #fff;
    font-weight: 800;
    /* background: #0033CC; */
    background: var(--theme-bg-blue);
    transition: 600ms;
    color: #fff;
}

.card-project {
    /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25); */
}

.livenza_footer_legal .link:hover {
    color: var(--theme-bg-green);
}

.footer-menu .link:focus,
.footer-menu .link:hover {
    opacity: 1;
}

/* .bd-hotels .large-image-slider:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    background-image: url(/assets/images/site/triangle2.svg);
} */

.slider_main_paragraph,
.slider_main_paragraph p,
.slider_main_paragraph a,
.slider_main_paragraph span,
.slider_main_paragraph p span {

    color: rgb(255 255 255 / 94%) !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 33px;
    text-decoration: none !important;
    background-color: none !important;
}

.single_page_description,
.single_page_description p,
.single_page_description a,
.single_page_description span,
.single_page_description p span {
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 30px;
    text-decoration: none !important;
    background-color: none !important;
}


.heading_border {
    border-bottom: 1px solid rgb(255 255 255 / 74%);
}

.right_bottom_slider {
    padding-top: 30px;
}

.left_side_slider {
    padding-top: 50px;
}

.middlebutton {
    position: absolute;
    z-index: 9;
    /* background: #0033cc; */
    /* padding: 10px 40px; */
    color: #fff;
    text-decoration: none;
    /* font-size: 20px; */
    /* border-radius: 10px; */
    top: -20px;
    left: 50%;
    transform: translate(-50%, -20%);
}

.button_container {
    position: relative;
}

.single_company_title {
    padding: 100px 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    line-height: 50px;
    font-weight: 600;
}

.single_page_title_border {
    margin: 0 auto;
    height: 2px;
    width: 200px;
    background: #0033cc;
    margin-top: 20px;
}

#single_page_description {
    padding: 0px 100px 100px 100px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    background-color: #0033cc;
}

.swiper-button-prev:focus,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-next:hover {
    color: #fff;
    background-color: #0033cc;
}

.mb-50 {
    margin-bottom: 50px;
}

.page-banner {
    height: 85vh;
}

.featured-blog {
    background-color: rgb(0 51 204 / 7%);
}

.triangle {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    background-image: url(/frontend/assets/img/triangle.svg);
}

#mapsection iframe,
#mapsection img {
    height: 400px;
    border-radius: 30px;
}

.note-modal-footer .btn {
    background: #000000 !important;
}

#companysingle_page video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-video {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: cover;
}

.company_logo img {
    width: 300px;
    background: #ffffffc9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 1px #fff;
}

.visit_company_logo img {
    width: 90px;
    height: 90px;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 3px -2px #fff; */
    object-fit: contain;
    border: 3px solid #0033cc;
}